# Data Science Tools and Ecosystem

In this notebook, Data Science tools and ecosystems are summarized

**Objectives**
+ Explore Data Science Tools
+ Learn about libraries used in data science
+ Learn about the programming languages in Data Science
+ Data management
+ Data Visualization

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R
4. Git

some commonly used libraries for data science are
1. NumPy
2. SciPy
3. Matplotlib
4. Scikit-learn

|#|Data Science Tools|
|--|-----------------|
|1|MySQL|
|2|Mongo DB|
|3|Apache CouchBD|
|4|Apache Cassandra|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# this is a simple arithemetic code to first multiply and then add numbers

In [3]:
(5*7)+7

42

In [1]:
#code to convert 200 minutes into hours

In [5]:
# 1hour=60 minutes. let 'H' be the variable for the final answer in hours and let 'h' be the minutes to convert. 
# for this exercise, h is 200

In [6]:
h=200
H=h/60
print(H)

3.3333333333333335

## Author
Dev Patel